@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Poppins:wght@100;200;300&display=swap");
:root {
  --mainColor: #968672;
  --hooverColor: #57493a;
  --backgroundColor: #e5e6e8;
  --darkOne: #3a3027;
  --darkTwo: #4a3a2b;
  --light: #e2e2e4;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", "Poppins", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  padding: 1.7rem 0 2 rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100px;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: var(--mainColor);
  margin-left: 4.5rem;
  display: inline-block;
  font-weight: 600;
  font-family: "poppins";
  font-size: 15px;
}

.links a:hover {
  color: var(--hooverColor);
  transition: 0.3s;
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  color: #fff !important;
  background-color: var(--mainColor);
  border-radius: 16px;
  transition: 0.3s;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--hooverColor);
  transform: scale(1) !important;
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.4rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: var(--mainColor);
  font-family: "poppins";
  margin: 1.9rem 1.1rem 2.5rem 0;
  max-width: 600px;
  line-height: 2;
}

.showcase-area .btn {
  font-family: "poppins";
}

.toggle-btn {
  display: inline-block;
  margin: 0 auto;
  border: none;
  background: var(--darkTwo);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
  height: 39px;
  width: 39px;
  border-radius: 55%;
  font-size: 1.1rem;
}

.toggle-btn {
  line-height: 39px;
  
}

.toggle-btn i:last-child {
  display: none;
}
